h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"],
input[type="number"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}

button[type="submit"]:hover {
    background-color: #005B8C;
}