<!DOCTYPE html>
<html>
<head>
  <title>About Us - RevBoys</title>
  <link rel="stylesheet" href="about.component.css"> <!-- Link to external CSS file -->
</head>
<body>
  <div class="container">
    <div class="image-container">
        <img src="https://i.ibb.co/f8Wr9P5/about-page-2.jpg" alt="RevBoys Store" class = "about-us-image">
      <!-- <img src="https://i.ibb.co/M1DVCZ0/about-page.jpg" alt="RevBoys Store" class = "about-us-image"> -->
    </div>
    <div class="text-container">
      <h1 class="about-us-title">About Us</h1>
      <p class="about-us-description">Welcome to RevBoys, your go-to destination for high-quality, eco-friendly clothing and accessories! At RevBoys, we are committed to promoting sustainability and reducing our environmental impact. </p>
      <p class="about-us-description">We believe that fashion can be both stylish and sustainable, and we are passionate about offering our customers durable clothing and accessories made from sustainable materials. Our carefully curated collection features rebranded items that have been given a new lease on life, extending their lifespan and reducing waste. With a focus on durability and sustainability, we strive to provide our customers with stylish and environmentally-conscious options that align with their values.</p>
      <p class="about-us-description">Join us in our mission to make a positive impact on the planet, one garment at a time. Shop with us today and join the RevBoys movement!</p>
    </div>
  </div>
</body>
</html>
