<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Popup</title>
	<link rel="stylesheet" href="login.component.css">
</head>
<body>
	<button class="login-btn">Login</button>

	<div class="login-popup">
		<div class="login-popup-content">
			<h2>Login</h2>
			<form>
				<label for="username">Username:</label>
				<input type="text" id="username" name="username">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password">
				<input type="submit" value="Login">
			</form>
			<button class="close-btn">Close</button>
		</div>
	</div>

	
</body>
</html>

