<div id="app">

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"></a>

    <a routerLink="home" class="logo">RevBoys</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/about" class="nav-link" routerLink="about">About us</a>
      </li>
      <li class="nav-item">
        <a href="/products" class="nav-link" routerLink="products">Products</a>
      </li>
      <!-- <li class="nav-item">
        <a href="/add" class="nav-link" routerLink="add">Add Inventory</a>
      </li>
      <li class="nav-item">
        <a href="/delete" class="nav-link" routerLink="delete">Delete</a>
      </li> -->
      <!-- <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin</a>

      </li> -->
      <li class="nav-item" *ngIf="showRetailerBoard && isLoggedIn">
        <a href="/profile" class="nav-link" routerLink="profile">Profile</a>

      </li>
      <!-- <li class="nav-item" *ngIf="isLoggedIn">
        <button class="nav-link" routerLink="products">Shop Now</button>
      </li> -->
      <!-- <li class="nav-item" *ngIf="showBuyerBoard && isLoggedIn">
        <a href="/profile" class="nav-link" routerLink="profile">Customer</a>
      </li> -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/home" class="nav-link" routerLink="home" (click)="logout()">Logout</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/registration" class="nav-link" routerLink="registration">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>

      </li>
    </ul>



    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon [matBadge]="itemsQuantity" matBadgeColor="warn" class="cart">shopping_cart</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div class="p-3 divide-y divide-solid">
        <div class="pb-3 flex justify-between">
          <span class="mr-16">{{ itemsQuantity }} items</span>
          <a routerLink="cart">View Cart</a>
        </div>

        <div *ngIf="cart.items.length" class="py-3">
          <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
            {{ item.type }} x {{ item.quantity }}
            <span class="font-bold not-italic">{{ item.price | currency }}</span>
          </div>
        </div>
        <div class="flex justify-between py-3 font-light">
          Total:
          <span class="font-bold not-italic">{{
            getTotal(cart.items) | currency
            }}</span>
        </div>
        <div class="pt-3 flex justify-between">
          <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
          <button routerLink="cart" class="bg-green-600 text-white rounded-full w-9 h-9">
            <mat-icon>shopping_cart_checkout</mat-icon>
          </button>
        </div>
      </div>
    </mat-menu>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>