button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0062cc;
}

.container {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="password"] {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
}

.btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}